@mixin ease($ease: 0.3s) {
  @if ($ease > 0.6s or $ease < 0.3s) {
    @error 'Animations and easing should be between 0.3s and 0.6s';
  } @else {
    transition: all ease-in-out $ease;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
  }
}

@mixin full-page-height {
  height: calc(100vh - 50px);
  @include carbon--breakpoint('lg') {
    height: calc(100vh - 75px);
  }
}

@mixin flow-border($color) {
  border-left: 0.5rem solid $color;
  &:hover {
    border-left: 1.5rem solid $color;
  }
}
