$mobile-nav-height: 50px;
$desktop-nav-height: 75px;
// classic color scheme flow colors
$flow-high: #68DFE9;
$flow-low: #FF8785;
$flow-medium: #59E78D;

//this will make the colors easy to scale across the application.
$high-runnable: darken($flow-medium, 15%);
$med-runnable: $flow-medium;
$low-runnable: lighten($flow-medium, 15%);
$flow-warning: #ffcc00;

// maps flow classes to their color
$flow-map: (
  "above-recommended": $flow-high,
  "high-runnable": $high-runnable,
  "medium-runnable": $med-runnable,
  "low-runnable": $low-runnable,
  "below-recommended": $flow-low,
  "stale": #dfe3e6 // use ui-03 for unknown/stale
);

// high contrast/accessibility flow colors
$bw-flow-high:#AEB8B8;
$bw-flow-low:#DFE9E9;
$bw-flow-medium:#C8D2D2;

// height of content area - subtract height of nav.
// @todo this needs to be a mixin for diff nav heights.
$content-height: calc(100vh - 125px);
