
$brand-01: #5aaafa !default;
$brand-02: #7cc7ff !default;
$brand-03: #41d6c3 !default;
$inverse-01: #152935 !default;
$inverse-02: #272d33 !default;
$ui-01: #2d3f49 !default;
$ui-02: #20343e !default;
$ui-03: #152935 !default;
$ui-04: #20343e !default;
$ui-05: #8c9ba5 !default;
$text-01: #ffffff !default;
$text-02: #dfe6eb !default;
$text-03: #8c9ba5 !default;
$field-01: rgba(255, 255, 255, .1) !default;
$field-02: #ffffff !default;
$support-01: #ff5050 !default;
$support-02: #8cd211 !default;
$support-03: #efc100 !default;
$support-04: #7cc7ff !default;
$use-layer: true !default;
$input-border: 1px solid transparent !default;
$input-label-weight: 700 !default;
$button-font-weight: 700 !default;
$button-font-size: .875rem !default;
$button-border-radius: 0 !default;
$button-height: 40px !default;
$button-padding: 0 1rem !default;
$button-padding-sm: 0 .5rem !default;
$button-border-width: 2px !default;
$accordion-flex-direction: row !default;
$accordion-justify-content: flex-start !default;
$accordion-arrow-margin: 0 0 0 .25rem !default;
$accordion-title-margin: 0 0 0 1rem !default;
$accordion-content-padding: 0 1rem 0 1.75rem !default;
$card-text-align: center !default;
$card-flex-align: center !default;
$checkbox-border-width: 2px !default;
$snippet-background-color: $field-01 !default;
$content-switcher-border-radius: 8px !default;
$content-switcher-option-border: 1px solid $brand-01 !default;
$data-table-heading-transform: uppercase !default;
$data-table-heading-border-bottom: 1px solid $brand-01 !default;
$data-table-row-height: 2rem !default;
$modal-border-top: $brand-01 4px solid !default;
$modal-footer-background-color: $ui-03 !default;
$progress-indicator-bar-width: 1px inset transparent !default;
$progress-indicator-stroke-width: 5 !default;
$progress-indicator-line-offset: .625rem !default;
$radio-border-width: 2px !default;
$structured-list-padding: 2rem !default;
$structured-list-text-transform: uppercase !default;
