.desktop-nav {
  .nav-main-content-area {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    header {
      display: flex;
      justify-content: space-evenly;
      width: 80%;
    }
  }
}
