.desktop-nav {
  .nav-main-content-area {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
    header {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .bx--overflow-menu,
      .bx--overflow-menu__trigger {
        width: auto;
      }
    }
  }
}
