hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0.25rem solid $brand-01;
  margin: $spacing-md 0;
  margin: $spacing-sm 0;
  width: 3em;
  width: 4rem;

  &.ui-01 {
    border-top: 0.25rem solid $ui-01;
  }

  &.ui-03 {
    border-top: 0.25rem solid $ui-03;
  }
  &.brand-01 {
    border-top: 0.25rem solid $brand-01;
  }
  &.brand-02 {
    border-top: 0.25rem solid $brand-02;
  }
  &.brand-03 {
    border-top: 0.25rem solid $brand-03;
  }
}