.level-legend {
  ul {
    li {
      margin-bottom: $spacing-xs;

      .above-recommended {
        fill: $flow-high;
      }
      .high-runnable {
        fill: $high-runnable;
      }
      .runnable {
        fill: $med-runnable;
      }
      .low-runnable {
        fill: $low-runnable;
      }
      .below-recommended {
        fill: $flow-low;
      }
      svg {
        vertical-align: top;
        margin-right: 8px;
      }

      &:nth-child(5) {
        margin-bottom: $spacing-md;
      }
    }
  }
}
