.bx--data-table-container {
  min-width: unset;
  overflow-x: scroll;
  overflow-y: auto;
  z-index: 2;

  &.river-index {
    overflow-x: unset;
    height: calc(100vh - 189px);
  }
}

.bx--data-table.river-table {
  position: relative;

  th {
    position: sticky;
    top: -5px;
  }

  th,
  td {
    vertical-align: middle;

    span {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }

  .river-name-section {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .zoom-button {
    cursor: pointer;
  }

  &.river-table {
    tbody {
      tr.active {
        background: #e5e5e5;

        td {
          border-top: 1px solid #e5e5e5;
          border-bottom: 1px solid #e5e5e5;
          background: #e5e5e5;
        }
        td:nth-child(1) {
          border-left-width: 1.5rem;
        }
      }

      tr,
      td {
        @include ease;

        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &:nth-child(1) {
          &[class*="low"],
          &.low {
            @include flow-border($flow-low);
          }

          &[class*="med"],
          &.med {
            @include flow-border($flow-medium);
          }

          &[class*="hi"],
          &.hi {
            @include flow-border($flow-high);
          }

          &[class*="unk"],
          &.unk {
            @include flow-border($ui-03);
          }
        }
      }
    }
  }
}

.nwi-map-search.bx--toolbar {
  .cv-search {
    .bx--search-close {
      display: flex;
    }
  }
}
