#utility-block {
  display: flex;
  width: 100%;
  min-height: 100px;
  height: 100%;
  padding: $spacing-md;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;

  &.dark {
    background-color: $ui-03;
  }
  &.light {
    background-color: $ui-02;
  }

  .bx--inline-loading {
    justify-content: center;
    @include carbon--type-style("code-01");
  }
  .utility-block-text {
    @include carbon--type-style("code-02");
  }

  p {
    margin: 0;
  }
}