.beta-box {
  max-width: 100%;
  overflow-x: scroll;
  position: relative;
  overflow: hidden;
  .edit-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba($ui-02, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  td {
    vertical-align: middle;
    background-color: transparent;
  }
  tr {
    @include ease;
    &:hover,
    &:focus {
      background-color: $ui-02;
    }
  }
}