.rapid-icon-bar {
  align-items: center;
  display: flex;

  &.has-icons {

    @include carbon--breakpoint("sm") {
      margin: $spacing-md 0;
    }
  }

  ul {

    &.edit-mode {
      margin-right: $spacing-md;
    }

    li {
      display: inline;
      margin-left: 0.5rem;
    }
  }
}