main {

  p {
    margin-bottom: 1.25rem;
  }
}

.description-content {

  @include carbon--type-style("body-long-02");

  p {
    margin-bottom: 1.25rem;
  }

  @include carbon--breakpoint("lg") {
    padding-right: $spacing-xl;
  }

  @include carbon--breakpoint("max") {
    max-width: 80%;
  }
}

p {

  @include carbon--type-style('expressive-heading-03')
}
