.sidebar-projects {
  display: inline-block;
  align-content: start;
  vertical-align: top;
  .header-row {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .sidebar-project {

    &:hover h5 {
      text-decoration: underline;
    }
  }

  .no-projects-msg {

    @include carbon--type-style("code-02");
  }
}
