.sidebar-articles {
  .sidebar-article {
    &:hover {
      cursor: pointer;
      h5,
      p {
        text-decoration: underline;
      }
    }

    .article-thumb {
      object-fit: cover;
      height: 100%;
      max-height: 200px;
      width: 100%;
    }
  }
  .no-articles-msg {
    @include carbon--type-style("code-02");
  }
}
