.sidebar-articles {
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sidebar-title {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    .article-thumb {
      max-height: 250px;
      min-height: 250px;
      object-fit: cover;
      width: 100%;
    }
  }
  .no-articles-msg {
    @include carbon--type-style("code-02");
  }
}
