.gallery-tab {

  .toolbar-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: $layout-sm;
  }
  padding-top: 2rem;
  // give the photoswipe thumbnails some style

  img[itemprop="thumbnail"] {
    height: 200px;
    object-fit: cover;

    @include carbon--breakpoint("md") {
      height: 250px;
      width: 250px;
    }

    @include carbon--breakpoint("lg") {
      height: 250px;
      width: 350px;
    }
  }
}