.river-detail {
  .reach--photo {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
  }

  .accent-wrapper {
    position: relative;
    display: none;

    @include carbon--breakpoint("lg") {
      display: block;
    }

    .accent {
      @include carbon--type-style("code-02");
      width: 100%;
      transform: rotate(90deg);
    }
  }
  .bleed {
    header {
      padding: $spacing-lg;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        @include carbon--breakpoint("sm") {
          @include carbon--type-style("productive-heading-03");
        }
        @include carbon--breakpoint("md") {
          @include carbon--type-style("productive-heading-04");
        }
      }
      h4 {
        @include carbon--breakpoint("sm") {
          @include carbon--type-style("productive-heading-02");
          margin-bottom: $spacing-xs;
        }
        @include carbon--breakpoint("md") {
          @include carbon--type-style("productive-heading-03");
        }
      }
    }
  }
  .controls-wrapper {
    margin-top: 1rem;
    @include layer("raised");
  }

  .button-toolbar {
    border-bottom: 3px solid $ui-04;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include carbon--breakpoint("lg") {
      .button-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        .bx--btn {
          flex-grow: 1;
          justify-content: center;
        }
      }
    }
    .bx--form-item {
      max-width: 139px;
      .bx--dropdown {
        border-bottom: 0;
      }
    }
  }
  aside {
    .bx--toolbar {
      margin: 0;
    }
    ul {
      li {
        .bx--btn--ghost {
          width: 100%;

          &.is-active {
            border-color: $brand-01;
            box-shadow: inset 4px 0 0 0 #537653;
          }
          &.no-border-top {
            border-top: 0;
          }
        }
      }
    }
  }
}

.accidents-tab,.credits-tab, .map-tab {
  padding-top: 2rem;
}