a {
    text-decoration: none;
}

body {
    background-color: $ui-01;
    overflow-x: hidden;  
}

img {
    max-width:100%;
}

.app-main-content {

    min-height: calc(100vh - 125px);
    background-color: $ui-background;

    &.interior {
        padding-top: $mobile-nav-height;
        // padding-top: $mobile-nav-height + 44px;
        @include MQ("LG") {
          padding-top: $desktop-nav-height;
        //   padding-top: $desktop-nav-height + 44px;
        }
    }
   
  }