a {
  text-decoration: none;
}

body {
  background-color: $ui-01;
  overflow-x: hidden;
  word-wrap: break-word;
}

img {
  max-width: 100%;
}

.app-main-content {
  background-color: $ui-background;
  @include carbon--breakpoint("sm") {
    padding-top: $mobile-nav-height;
  }

  &.laravel-deploy {
    padding-top: 0;
  }
}
