.bg-ui-01 {
  background-color: $ui-01;
}
.bg-ui-02 {
  background-color: $ui-02;
}
.bg-ui-03 {
  background-color: $ui-03;
}
.bg-ui-04 {
  background-color: $ui-04;
}
.bg-ui-05 {
  background-color: $ui-05;
}